body {
  background-color: peachpuff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemons-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.pokemons-list__pokemon-item {
  border: 2px solid brown;
  margin: 5px;
  border-radius: 20px;
}

button {
  width: 50%;
  margin: auto;
}
