body {
  font-family: "Lato";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemons-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}

.pokemons-list__pokemon-item {
  border: 2px solid blueviolet;
  margin: 10px;
  border-radius: 30px;
  position: relative;
  padding: 10px;
  background-color: #eee;
  height: 270px;
  width: 150px;
  box-shadow: 0 30px 14px rga(100, 100, 100, 0.6);
}

.pagination {
  width: 150px;
  margin: 5px auto;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.pokemon-card__save {
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  border: none;
  background-color: burlywood;
}

.pokemon-card__img {
  background-color: cornsilk;
  border-radius: 30px;
  max-width: 90%;
}

.pokemon-card__id {
  background-color: cornsilk;
  font-size: 0.9em;
  border-radius: 50%;
  padding: 5px 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 10px auto;
}

header {
  background-color: greenyellow;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin: 10px 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
}
